<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div id="task_list">
  <% @tasks.each do |task| %>
    <div class="task-container">
      <%= form_for task do |f| %>
        <%= f.hidden_field :done %>
        <div class='checkbox<%= task.done ? ' checked' : '' %>'></div>
        <%= f.text_field :title %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Task', new_task_path %>

<!-- "âœ”ï¸" -->
